# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
# function that returns the lesser of two given numbers 
# if both numbers are even, but returns the greater if one or both numbers are odd

def lesser_of_two_evens(a,b):
    
    # if a and b are both even return the smaller number
    if a % 2 == 0 and b % 2 == 0:
        if a < b:
            return a
        else:
            return b
    
    # if one or two number are odd return the larger number
    else:
        if a > b:
            return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
# function takes a two-word string and returns True if both words begin with same letter

def animal_crackers(text):
    
    # make sentence lowercase. split sentence into words
    sentence = text.lower().split()
    
    # check first letter of each word
    if sentence[0][0] == sentence[1][0]:
        return True
    
    else:
        return False

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
# function that given two integers 
# if the sum of the integers is 20 or if one of the integers is 20, return True, if not, return False

def makes_twenty(n1,n2):
    
    if n1 + n2 == 20 or n1 == 20 or n2 == 20:
        return True
    
    else:
        return False

In [8]:
# Check
makes_twenty(20,10)

True

In [9]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [10]:
# function that capitalizes the first and fourth letters of a name

def old_macdonald(name):
    
    # empty string
    new_macdonald = ''
    
    # loop as many times as the number of letters in the name
    for i in range(len(name)):
        
        # capitalize the first and fourth letters in the name and add to new string
        if i == 0 or i == 3:
            new_macdonald += name[i].capitalize()
            
        # add as is to the new string
        else:
            new_macdonald += name[i]
    
    print(new_macdonald)

In [11]:
# Check
old_macdonald('macdonald')

MacDonald

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [12]:
# function that given an integer n, return True if n is within 10 of either 100 or 200

def almost_there(n):
    
    if n in range(90, 111) or n in range(190, 211):
        return True
    
    else:
        return False

In [13]:
# Check
almost_there(104)

True

In [14]:
# Check
almost_there(150)

False

In [15]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [16]:
# function that given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

def has_33(nums):
    
    # iterate over list
    for i in range(len(nums)-1):
        
        # check if iterator equals 3
        if nums[i] == 3:
            
            # check if the number following it equals 3 as well
            if nums[i + 1] == 3:
                return True
    
    # return False if not found
    return False

In [17]:
# Check
has_33([1, 3, 3])

True

In [18]:
# Check
has_33([1, 3, 1, 3])

False

In [19]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [20]:
def paper_doll(text):
    
    # empty string
    new_word = ''
    
    # iterate over every character in the string
    for char in text:
        
        # add it to new string 3 times
        for i in range(3):
            new_word += char
    
    return new_word

In [21]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [22]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [23]:
# function given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
# if their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
# finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

def blackjack(a,b,c):
    
    # declare and initialize sum and adjusted sum
    sum = a + b + c
    adjSum = 0
    
    # return sum if smaller or equal to 21
    if sum <= 21:
        return sum
    
    # if sum is larger than 21
    elif sum > 21:
        
        # if any of the given numbers equal 11
        if a == 11 or b == 11 or c == 11:
            
            # subtract 10 from the sum
            adjSum = sum - 10
            
            # Return 'BUST' if adjusted sum is still larger than 21
            if adjSum > 21:
                return 'BUST'
            
            # return adjusted sum if smaller than 21
            else:
                return adjSum
        
        # return 'BUST' if adjusted sum is larger than 21
        else:
            return 'BUST'

In [24]:
# Check
blackjack(5,6,7)

18

In [25]:
# Check
blackjack(9,9,9)

'BUST'

In [26]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [27]:
def summer_69(arr):
    
    check = False
    sum = 0
    
    for number in arr:
        if number == 6:
            check = True
            continue
        elif number == 9 and check == True:
            check = False
            continue
        else:
            if check == True:
                continue
            else:
                sum += number
    
    return sum

In [28]:
# Check
summer_69([1, 3, 5])

9

In [29]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [30]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [31]:
def spy_game(nums):
    
    check1 = False
    check2 = False
    
    for num in nums:
        
        if num == 0:
            check1 = True
            
        elif num == 0 and check1 == True:
            check2 = True
            
        elif num == 7 and check1 == True and check2 == True:
            return True
        
    
    return False

In [32]:
# Check
spy_game([1,2,4,0,0,7,5])

False

In [33]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [34]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [35]:
def count_primes(num):
    pass

In [36]:
# Check
count_primes(100)

## Great Job!